@import '@/styles/variables';

.app-header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: $layout-bg-color;
  padding: 0 24px;
  transition: box-shadow 0.3s ease;

  // Тень при прокрутке
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.app-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  position: relative;
}

.app-header__left,
.app-header__right {
  display: flex;
  align-items: center;
  gap: 1rem;
   min-width: 120px;
}

.app-header__center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 12px;
}

.app-header__logo {
  color: var(--ant-color-text);
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  transition: color 0.3s;

  &:hover {
    color: $logo-hover-color;
  }
}

.app-header__icon {
  width: 32px;
  height: 32px;
  object-fit: contain;
  filter: invert(100%);
  transition: transform 0.2s ease;

  &:hover {
    transform: translateY(-3px);
  }
}

.app-header__menu-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.app-header__menu-trigger {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;

  img {
    width: 32px;
    height: 32px;
    filter: invert(100%);
    transition: transform 0.2s ease;

    &:hover {
      transform: translateY(-3px);
    }
  }
}

.app-header__select-btn {
  padding: 6px 16px;
  background-color: $primary-color;
  border-radius: 8px;
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: background 0.3s;

  &:hover {
    background-color: darken($primary-color, 10%);
  }
}

.app-header__actions {
  display: flex;
  align-items: center;
  gap: 12px;
}

.app-header__cart {
  position: relative;
  display: flex;
  align-items: center;

  .app-header__cart-icon {
    width: 28px;
    height: 28px;
    object-fit: contain;
    filter: invert(100%);
    transition: transform 0.2s ease;

    &:hover {
      transform: scale(1.1);
    }
  }

  .app-header__cart-badge {
    position: absolute;
    top: -6px;
    right: -6px;
    background-color: $logo-hover-color;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
  }
}