.lens-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.lens-card-buttons {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}
